---
import "../styles/base.css";
import Layout from "../layouts/Layout.astro";

import { getCollection, getEntries } from "astro:content";

export async function getStaticPaths() {
  const milestones = await getCollection("milestones");
  return milestones.map((entry) => ({
    params: { milestone: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;

let items = await Promise.all(
  (await getEntries(entry.data.items)).map(async (item) => ({
    ...item,
    Content: await item.render(),
  })),
);
---

<Layout title="Swarm Roadmap">
  <main class="pt-12 text-[19px] leading-[26px] text-[#F6F7F9]">
    <div class="flex justify-center">
      <a href="https://www.ethswarm.org/"
        ><img src="/swarm.png" alt="" class="h-9" /></a
      >
    </div>

    <div
      class="grid grid-cols-12 gap-5 max-w-6xl mx-auto px-5 lg:px-8 pt-20 pb-12 md:pt-28 md:pb-24"
    >
      <div class="col-span-12 sm:col-span-6">
        <h1 class="text-[#F6F7F9] font-bold">
          <div class="text-3xl lg:text-5xl mb-3">
            Milestone {entry.data.index}
          </div>
          <div class="text-2xl lg:text-[32px] leading-tight">
            {entry.data.title}
          </div>
        </h1>

        <div class="mt-12">
          <a
            href="/"
            class="no-underline transition duration-200 inline-flex justify-center rounded-full items-center text-sm font-semibold leading-[2.3] whitespace-nowrap bg-[#FF6B26] focus:outline-none text-[#F6F7F9] hover:bg-opacity-80 px-4"
            >&lt;- All milestones</a
          >
        </div>
      </div>
    </div>

    <div
      class="relative max-w-6xl mx-auto px-5 lg:px-8 flex flex-col gap-16 sm:gap-24 py-6"
    >
      <div class="absolute top-0 bottom-0 h-full w-6 flex justify-center">
        <div class="w-0.5 bg-line h-full"></div>
      </div>
      {
        items.map(async (item) => {
          const { Content } = await item.render();
          return (
            <div class="grid grid-cols-12 gap-2 sm:gap-5">
              <div class="size-6 shrink-0 mt-1 lg:mt-2 relative">
                {item.data.status === "done" && (
                  <div class="bg-[#1c2127] rounded-full h-full w-full border-2 border-[#D6D9DF] flex items-center justify-center">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 16 12"
                      class="w-[15px] h-[11px]"
                    >
                      <path fill="#1F2831" fill-opacity=".7" d="m2 6 4 4 8-8" />
                      <path
                        stroke="#D6D9DF"
                        stroke-linecap="square"
                        stroke-miterlimit="10"
                        stroke-width="2"
                        d="m2 6 4 4 8-8"
                      />
                    </svg>
                  </div>
                )}

                {item.data.status === "in-progress" && (
                  <div
                    class="rounded-full h-full w-full p-0.5"
                    style="background: conic-gradient(from 125.84deg at 50% 50%, #2D3843 0deg, #2D3843 178.2deg, #D6D9DF 360deg);"
                  >
                    <div class="bg-[#1c2127] w-full h-full rounded-full" />
                  </div>
                )}

                {item.data.status === "to-do" && (
                  <div class="bg-[#1c2127] rounded-full h-full w-full border-2 border-[#2D3843]" />
                )}
              </div>

              <div class="col-span-10 col-start-3 sm:col-span-4 text-[#F6F7F9] text-2xl lg:text-[32px] leading-tight font-bold">
                <h3>{item.data.title}</h3>
              </div>

              <div class="col-span-10 sm:col-span-6 col-start-3 sm:col-start-7 prose text-[17px] leading-6 text-[#F6F7F9CC]">
                <Content />
              </div>
            </div>
          );
        })
      }
    </div>

    <div
      class="max-w-6xl mx-auto px-5 lg:px-8 grid grid-cols-12 gap-5 my-24 md:my-48 border border-transparent"
    >
      <div class="col-span-12 md:col-span-6">
        <h3 class="font-bold mb-2">Missing features?</h3>
        <div>
          Suggest on <a
            href="https://discord.ethswarm.org/"
            class="bg-[#2B2B2B] font-semibold text-sm py-2 px-4 rounded-full no-underline leading-[48px]"
            >Discord</a
          > or <br class="sm:hidden" />propose a <a
            href="#"
            class="bg-[#2B2B2B] font-semibold text-sm py-2 px-4 rounded-full no-underline"
            >SWIP</a
          >
        </div>
      </div>

      <div
        class="col-span-12 md:col-span-6 opacity-80 text-sm md:text-[19px] md:leading-[26px]"
      >
        <h4 class="font-bold">Disclaimer:</h4>
        <div>
          The dates and milestones outlined in this roadmap are subject to
          change.
        </div>
      </div>
    </div>
  </main>
</Layout>
