---
---
<footer class="pt-16 sm:pt-32 pb-8" style="background: linear-gradient(180deg, #1F2831 0%, #000 100%);">
    <div class="max-w-7xl mx-auto px-5 lg:px-8 text-sm font-semibold [&_a]:no-underline [&_a:hover]:text-opacity-70 [&_a]:duration-150 [&_a]:text-[#F6F7F9]">
			<div class="px-5 sm:px-[60px] sm:grid sm:grid-cols-2 lg:grid-cols-12 sm:gap-[22px] border border-transparent">
                <div class="lg:col-span-4">
                    <a href="https://www.ethswarm.org"><img src="/swarm.png" alt="" class="h-8 mb-8" /></a>

                    <ul class="space-y-4">
                        <li><a href="https://papers.ethswarm.org/" target="_blank">Papers</a></li>
                        <li><a href="https://www.ethswarm.org/foundation" target="_blank">Foundation</a></li>
                        <li><a href="http://ethswarm.org/jobs" target="_blank">Jobs</a></li>
                    </ul>
                </div>

                <div class="lg:col-span-2 mt-8 sm:mt-0">
                    <h4 class="text-[#8B909A] mb-4">Use Swarm</h4>

                    <ul class="space-y-4">
                        <li><a href="https://www.ethswarm.org/build" target="_blank">Start Building</a></li>
                        <li><a href="https://www.ethswarm.org/build/run-a-full-node" target="_blank">Run a Node</a></li>
                        <li><a href="https://www.ethswarm.org/build/desktop" target="_blank">Swarm Desktop</a></li>
                        <li><a href="https://github.com/ethersphere/awesome-swarm" target="_blank">Awesome Swarm</a></li>
                        <li><a href="https://gateway.ethswarm.org/" target="_blank">Swarm Gateway</a></li>
                        <li><a href="https://www.ethswarm.org/get-bzz" target="_blank">BZZ Token</a></li>
                    </ul>
                </div>

                <div class="lg:col-span-2 mt-8 sm:mt-0">
                    <h4 class="text-[#8B909A] mb-4">Resources</h4>

                    <ul class="space-y-4">
                        <li><a href="https://www.ethswarm.org/why" target="_blank">Technology</a></li>
                        <li><a href="https://docs.ethswarm.org/" target="_blank">Bee docs</a></li>
                        <li><a href="https://bee-js.ethswarm.org/docs/" target="_blank">Bee JS docs</a></li>
                        <li><a href="https://swarmscan.io/" target="_blank">Network stats</a></li>
                        <li><a href="https://roadmap.ethswarm.org/" target="_blank">Roadmap</a></li>
                        <li><a href="https://www.ethswarm.org/contribute" target="_blank">Contribute</a></li>
                        <li><a href="https://blog.ethswarm.org/" target="_blank">Blog</a></li>
                    </ul>
                </div>

                <div class="lg:col-span-2 mt-8 sm:mt-0">
                    <h4 class="text-[#8B909A] mb-4">Ecosystem</h4>

                    <ul class="space-y-4">
                        <li><a href="https://www.ethswarm.org/grants" target="_blank">Grants</a></li>
                        <li><a href="https://app.dework.xyz/swarm-41421" target="_blank">Bounties</a></li>
                        <li><a href="https://fairdatasociety.org/" target="_blank">Fair Data Society</a></li>
                        <li><a href="https://toolkit.ethswarm.org/" target="_blank">The Hivemaker’s Code</a></li>
                    </ul>
                </div>

                <div class="lg:col-span-2 mt-8 sm:mt-0">
                    <h4 class="text-[#8B909A] mb-4">Community</h4>

                    <ul class="space-y-4">
                        <li><a href="https://discord.ethswarm.org/" target="_blank">Discord</a></li>
                        <li><a href="https://github.com/ethersphere/" target="_blank">GitHub</a></li>
                        <li><a href="https://twitter.com/ethswarm" target="_blank">X / Twitter</a></li>
                        <li><a href="https://github.com/ethersphere" target="_blank">Github</a></li>
                        <li><a href="https://www.reddit.com/r/ethswarm/" target="_blank">Reddit</a></li>
                    </ul>
                </div>
            </div>
    </div>

    <div class="max-w-7xl px-5 lg:px-8 mx-auto w-full"><div class="grid grid-cols-12 gap-5 px-5 sm:px-[60px] w-full py-8"><div class="flex text-[10px] antialiased text-[#F6F7F9] text-opacity-50 col-span-12 lg:col-span-5"><span>Swarm Foundation, 2024</script></span><span class="px-1">·</span><span><a class="hover:underline" href="https://www.ethswarm.org/privacy">Privacy policy</a><a target="_blank" class="ml-2 hover:underline" href="https://swarm.bzz.link/">Hosted on Swarm</a></span></div></div></div>
</footer>
