---
interface Props {
	title: string;
    status: "done" | "in-progress" | "to-do" | false;
    items: {
        data: {
            subtitle: string;
        };
    }[];
    slug: string;
    content: string;
}

const { title, status, items, slug } = Astro.props;
---
<div class="py-8 px-5 flex flex-col gap-6 rounded-xl bg-[#1F2831B2] border border-[#2D3843] shadow-card text-sm text-[#F6F7F9CC] leading-5">
    {status ? (<div>


    {status === "done" && (
        <span class="inline-flex items-center gap-2 text-sm leading-7 px-2 rounded-lg bg-[#D9EDDB] text-[#117800]">
<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 16" class="size-4 fill-current"><g fill="currentColor" clip-path="url(#a)"><path d="M8 0C3.589 0 0 3.589 0 8s3.589 8 8 8 8-3.589 8-8-3.589-8-8-8Zm0 14c-3.309 0-6-2.691-6-6s2.691-6 6-6 6 2.691 6 6-2.691 6-6 6Z"/><path d="M7 11.414 3.586 8 5 6.586l2 2 4-4L12.414 6 7 11.414Z"/></g><defs><clipPath id="a"><path fill="#fff" d="M0 0h16v16H0z"/></clipPath></defs></svg>

          <span>
            Completed</span>
        </span>
    )}

    {status === "in-progress" && (
        <span class="inline-flex items-center gap-2 text-sm leading-7 px-2 rounded-lg bg-[#FFE2C0] text-[#EB7000]">
<svg class="size-4 animate-spin" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#a)"><path opacity=".4" d="M8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16ZM8 2a6 6 0 1 0 0 12A6 6 0 0 0 8 2Z" fill="#FF961A"></path><path d="M16 8h-2a6 6 0 0 0-6-6V0a8 8 0 0 1 8 8Z" fill="#EB7000"></path><path d="m9.98 15.73-.5-1.93a6 6 0 0 0 4.33-7.3l1.94-.5a8 8 0 0 1-5.77 9.73Z" fill="#EB7000"></path></g><defs><clipPath id="a"><path fill="#fff" d="M0 0h16v16H0z"></path></clipPath></defs></svg>

          <span>In Progress</span>
        </span>
    )}

    {status === "to-do" && (
        <span class="inline-flex items-center gap-2 text-sm leading-7 px-2 rounded-lg bg-[#E5E9EC] text-[#B2B6B8]">
<svg class="size-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 16"><g clip-path="url(#a)"><path fill="#B2B6B8" d="M8 16a8 8 0 1 1 8-8 8.009 8.009 0 0 1-8 8ZM8 2a6 6 0 1 0 0 12A6 6 0 0 0 8 2Z" opacity=".4"/></g><defs><clipPath id="a"><path fill="#fff" d="M0 0h16v16H0z"/></clipPath></defs></svg>

          <span>Scheduled</span>
        </span>
    )}
    </div>) : null}


	  <h3 class="text-[#F6F7F9] font-bold text-[24px] leading-tight">
		{title}
	  </h3>

	  <ul class=" list-outside list-disc pl-6">
		{items.map(item => (
	  <li>
		{item.data.subtitle}
					</li>
		))}
	  </ul>

	  <a class="font-bold no-underline transition duration-200 whitespace-nowrap focus:outline-none text-[#F6F7F9] text-opacity-80 hover:text-opacity-60" href={slug + `/`}>More information -></a>
    </div>
